body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; /* Fundo claro */
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7); /* Transparente */
  transition: background 0.3s ease;
}

header:hover {
  background: rgba(0, 0, 0, 1); /* Fundo sólido ao passar o mouse */
}

header h1, header .lead {
  display: none; /* Oculta o texto do cabeçalho */
}

footer {
  background-color: #8B0000; /* Vermelho escuro */
}

h1, .lead {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#menu .accordion-item {
  border: 1px solid #006400; /* Verde */
}

#menu .accordion-header {
  background-color: #ffcc00; /* Amarelo */
  color: #000;
}

body.dark-mode header,
body.dark-mode footer {
  background-color: #333;
}

body.dark-mode .accordion-header {
  background-color: #555;
}

body.dark-mode .accordion-body {
  background-color: #ddd;
}

.language-buttons {
  z-index: 1000;
}

.language-buttons .btn {
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.language-buttons .flag-icon {
  font-size: 24px;
}

language-buttons .flag-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

language-buttons .btn:hover {
  background-color: #ddd;
  transform: scale(1.1);
}

.accordion-button .accordion-icon {
  font-weight: bold;
}

.accordion-button:not(.collapsed) .accordion-icon {
  content: "-";
}

.accordion-collapse {
  transition: height 0.3s ease;
}